<div class="ui-g-12 ui-g-nopad" style="margin-top:4em;">
  <div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-3"></div>
    <div class="ui-g-9">
      <img src="/assets/images/crush_logo.jpg" width="60%">
    </div>
  </div>
  <div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-3"></div>
    <div class="ui-g-9"><h4>Sign Up</h4></div>
  </div>
  <ng-container *ngIf="!validUrl">
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-3"></div>
      <div class="ui-g-9">There is an error in the url link you're using. Please check with your trainer.</div>
    </div>
  </ng-container>
  <ng-container *ngIf="validUrl">
    <form [formGroup]="userform" (ngSubmit)="onSignup()">
      <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-3 app-control-label">First</div>
        <div class="ui-g-9">
          <input pInputText formControlName="nameFirst" style="width:100%">
        </div>
      </div>
      <div class="ui-g-12 ui-g-nopad" *ngIf="!userform.controls['nameFirst'].valid && userform.controls['nameFirst'].dirty">
        <div class="ui-g-3"></div>
        <div class="ui-g-9">
          <span class="ui-message ui-messages-error ui-corner-all">
            <i class="fa fa-close"></i> First name is required
          </span>
        </div>
      </div>
      <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-3 app-control-label">Last</div>
        <div class="ui-g-9">
          <input pInputText formControlName="nameLast" style="width:100%">
        </div>
      </div>
      <div class="ui-g-12 ui-g-nopad" *ngIf="!userform.controls['nameLast'].valid && userform.controls['nameLast'].dirty">
        <div class="ui-g-3"></div>
        <div class="ui-g-9">
          <span class="ui-message ui-messages-error ui-corner-all">
            <i class="fa fa-close"></i> Last name is required
          </span>
        </div>
      </div>
      <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-3 app-control-label">Email</div>
        <div class="ui-g-9">
          <input pInputText formControlName="email" style="width:100%">
        </div>
      </div>
      <div class="ui-g-12 ui-g-nopad" *ngIf="!userform.controls['email'].valid && userform.controls['email'].dirty">
        <div class="ui-g-3"></div>
        <div class="ui-g-9">
          <span *ngIf="userform.controls['email'].errors['required']" class="ui-message ui-messages-error ui-corner-all">
            <i class="fa fa-close"></i> Email is required
          </span>
          <div class="app-horizontal-spacer" *ngIf="userform.controls['email'].errors['required'] && userform.controls['email'].errors['email']"></div>
          <span *ngIf="userform.controls['email'].errors['email']" class="ui-message ui-messages-error ui-corner-all">
            <i class="fa fa-close"></i> Not a valid email format
          </span>
        </div>
      </div>
      <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-3 app-control-label">Password</div>
        <div class="ui-g-9">
          <input type="password" pInputText formControlName="password" style="width:100%">
        </div>
      </div>
      <div class="ui-g-12 ui-g-nopad" *ngIf="!userform.controls['password'].valid && userform.controls['password'].dirty">
        <div class="ui-g-3"></div>
        <div class="ui-g-9">
          <span *ngIf="userform.controls['password'].errors['required']" class="ui-message ui-messages-error ui-corner-all">
            <i class="fa fa-close"></i> Password is required
          </span>
          <span *ngIf="userform.controls['password'].errors['minlength']" class="ui-message ui-messages-error ui-corner-all">
            <i class="fa fa-close"></i> Minimum of 6 characters
          </span>
        </div>
      </div>
      <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-3"></div>
        <div class="ui-g-9">
          <div class="ui-g-12 ui-g-nopad">
            <p-button type="submit" label="Sign Up" [disabled]="!userform.valid"></p-button>
          </div>
          <div class="ui-g-12" style="padding-left:0em;padding-top:1em;">
            <a routerLink="/login">Click Here</a> if you already have an account.
          </div>
        </div>
      </div>
      <div [hidden]="!signupFailed" class="ui-g-12 ui-g-nopad">
        <div class="ui-g-3"></div>
        <div class="ui-g-9">
          <span class="ui-message ui-messages-error ui-corner-all">
            <i class="fa fa-close"></i> {{ signupFailedMessage }}
          </span>
        </div>
      </div>
    </form>
  </ng-container>
</div>